# Docs: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Assign @your_github_username or a team for ownership

* @your_github_username
